:root {
  /*Шрифти*/
  --font-primary: "Raleway", serif;
  --font-secondary: "Oswald", serif;
  /*Кольори*/
  --color-text-primary: #000000;
  --color-text-contrast: #ffffff;
  --color-button: #b2ffa6;
  --color-background-primary: #121212;
  --color-background-section: #efefef;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}

.header {
  background-color: var(--color-background-primary);
}

.nav-link {
  color: var(--color-text-contrast);
  font-family: var(--font-secondary);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-button);
}

/*Hero Section*/
.hero-title {
  font-size: 64px;
  font-weight: 400;
  text-transform: capitalize;
}

.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}

.hero-button {
  letter-spacing: 0.06em;
  line-height: 1.5;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
  cursor: pointer;
}

/*About Section*/

.about {
  background-color: var(--color-background-section);
}
.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}

.about-text {
  font-size: 32px;
  line-height: 1.19;
}

.about-link {
  letter-spacing: 0.06em;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-text-primary);
}
